html{
	scroll-behavior: smooth;
}
body{
	font-family: "Open Sans", sans-serif;
	background-image: url('https://media.moddb.com/images/downloads/1/225/224926/imagine_by_kvacm_dd3sd3v.jpg');
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%; 
}
.scrollup{
	position: fixed;
	display:none;
	cursor: pointer;
	bottom:50px;
	right:50px;
	font-size:60px;
	color: white;
	z-index:5;
}
.container{
	width: 1000px;
	min-height: 3000px;
	margin:60px auto;
	border: 5px solid white;
	background-color: white;
}
.header{
	display: flex;
	height: 250px;
	width: 100%;
}
.pagename{
	position: relative;
	height:250px;
	width: 70%;
	background: url("https://www.teahub.io/photos/full/9-98923_blade-runner-2049-hologram-girl-live-wallpaper-blade.jpg") no-repeat center center / cover;
    
}
.pagename::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.7;
}

.pagename h1{
	cursor:default;
	position: relative;
	z-index: 1;
	text-align: center;
	color: white;
	font-size: 60px;
	padding-top:96px;
}
.icon{
	height:250px;
	width: 30%;
}
.icon img{
	width:100%;
	height:100%;
}
.nav{
	top: 0;
	width:100%;
	height:64px;
	background: rgba(0, 0, 0, 0.8);
}
.navmenu{
	height:100%;
	display: flex;
	justify-content: space-evenly;
}
.button{
  text-align: center;
  width: 244px;
  padding: 24px 10px;
  display:block;
  font-size: 16px;
  transition: all 0.5s ease;
}
.peoplemenu ul .button{
	font-size: 14px;
	background-color: black;
	transition: all 0.3s ease;
}
.peoplemenu ul{ 
	position:relative;
	display: none;
}
.peoplemenu:hover > ul{
	display: block;
	z-index: 10;
}
.peoplemenu ul .button:hover{
	background-color: rgb(65, 58, 58);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}
.button:hover{
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.introflex{
    margin-top:20px;
    display: flex; 
}
.introduction{
    /* border:2px solid red; */
    width: 70%;
	height: 270px;
}
.text{
	line-height: 27px;
	text-indent: 50px;
	text-align:justify;
	margin-top:10px;
	font-weight:400;
	font-size: 20px;
}
.intro{
	margin-left:20px;
}
.sidebar{
	position: relative;
	width: 30%;
	height: 270px;
	margin: 0px 20px;
	border: 2px solid rgb(119,119,119);
	background-image:url("../img/sidebarbg.png");
	background-position:  center center;
	background-size: 250px 231px;
	background-repeat: no-repeat;
}
.sidebar::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color:white;
	opacity: 0.8;
}
.sidebar ul{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width:250px;
	height:239px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.sidebar ul li{
	position:relative;
	transition: all 0.5s ease;
}
.sidebar ul li:before{
	content:'';
	position: absolute;
	top: 22px;
	left: -12px;
	width: 16px;
	height: 16px;
	background-image: url("../img/arrow.png");
	background-size: 100%;
} 
.sidebar ul li:hover{
	padding-left: 30px;
}
.sidebar h2{
	position: relative;
	z-index: 1;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.hlink{
	text-align: center;
	padding: 20px 10px;
	display: inline-block; 
	font-size: 20px;
	color: black;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin: 40px 0px 60px 0px;
}
.person{
/* border: 2px solid yellow; */
height: 850px;
margin: 30px 0;
}
.persontextblock{
	/* border: 2px solid darkblue; */
	padding-left:13px;
	height: 430px;
  }
.person h3{
	margin: 17px 0px 30px 13px;
	font-size:20px;
	font-weight:bold;
}
.personpic{
	/* border: 2px solid red; */
	width: 250px;
	height: 320px;
	float:left;
}
.personpic img{
	width:215px;
	height:250px;
}
.personpic h3{
	font-size:18px;
	font-weight:bold;
	margin-top: 15px;
}
.persondescrip{
	margin: 0px 20px 0px 0px;
}
.otherpics{
	/* border: 2px solid green; */
	display: flex;
	height: 280px;
	justify-content: space-between;
	margin: 30px 20px 30px 15px;
}
.otherpics img{
	width: 300px;
	height: 100%;
}
.pageswitchblock{
	display: flex;
	margin: 50px 0;
	position: relative;
	height: 50px;
}
.footer{
	display:flex;
	position:relative;
	margin-top: 30px;
	height:200px;
	background: url("https://cdn.prod.www.spiegel.de/images/4317195a-0001-0004-0000-000001195323_w1528_r1.5625_fpx43.52_fpy50.jpg") no-repeat center center / cover;
}
.footer p{
	display: flex;
	position: relative;
	z-index:10;
	color:white
}
.footer::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.8;
}
.footertitle{
	position: relative;
    top: 18px;
    left: 94px;
    z-index: 1;
    width: 369px;
    height: 170px;
    border-right: 1px solid rgb(119,119,119);
}
.footertitle h2{
	cursor:default;
	position: relative;
	top: 60px;
	color: white;
	font-size: 40px;
	text-align: center;
}
.footersm{
	color:white;
	position: relative;
    top: 18px;
	left: 115px;
    z-index: 1;
    width: 369px;
    height: 170px;
}
.footersm h3{
  text-decoration: underline;
  font-size: 20px;
  margin: 0px 10px 10px 10px;
}
.footersm ol{
	margin:5px;
	font-size: 16px;
	position:relative;
	left: 20px;
	list-style:upper-roman;
}
.footersm ol li{
	position:relative;
	margin: 9px;
}
.footersm ol li a{
	margin-left:5px;
}
.footersm ol li a:hover{
   color: grey;
}



