html{
	scroll-behavior: smooth;
}
body{
	font-family: "Open Sans", sans-serif;
	background-image: url('https://media.moddb.com/images/downloads/1/225/224926/imagine_by_kvacm_dd3sd3v.jpg');
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%; 
}
.scrollup{
	position: fixed;
	display:none;
	cursor: pointer;
	bottom:50px;
	right:50px;
	font-size:60px;
	color: white;
	z-index:5;
}
.container{
	width: 1000px;
	min-height: 3000px;
	margin:60px auto;
	border: 5px solid white;
	background-color: white;
}
.header{
	display: flex;
	height: 250px;
	width: 100%;
}
.pagename{
	position: relative;
	height:250px;
	width: 70%;
}
.pagename::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.7;
}
.titleimgblock{
	padding: 75px 0px 0px 146px;
	position: relative;
	z-index:2;
 }
 .pagename img{
	 width: 400px;
	 height:  100px;
	 position: relative;
	 z-index:3;
 }
.icon{
	height:250px;
	width: 30%;
}
.icon img{
	width:100%;
	height:100%;
}
.nav{
	top: 0;
	width:100%;
	height:64px;
	background: rgba(0, 0, 0, 0.8);
}
.navmenu{
	height:100%;
	display: flex;
	justify-content: space-evenly;
}
.button{
  text-align: center;
  width: 244px;
  padding: 24px 10px;
  display:block;
  font-size: 16px;
  transition: all 0.5s ease;
}
.peoplemenu ul .button{
	font-size: 14px;
	background-color: black;
	transition: all 0.3s ease;
}
.peoplemenu ul{ 
	position:relative;
	display: none;
}
.peoplemenu:hover > ul{
	display: block;
	z-index: 10;
	perspective: 1000px;
}
.peoplemenu:hover > ul li{
	transform-origin: top-center;
	opacity: 0;
}
.peoplemenu:hover > ul li:nth-child(1){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 50ms;
}
.peoplemenu:hover > ul li:nth-child(2){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 100ms;
}
.peoplemenu:hover > ul li:nth-child(3){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 150ms;
}
.peoplemenu:hover > ul li:nth-child(4){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 200ms;
}
.peoplemenu:hover > ul li:nth-child(5){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 250ms;
}
.peoplemenu:hover > ul li:nth-child(6){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 300ms;
}
.peoplemenu:hover > ul li:nth-child(7){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 350ms;
}
.peoplemenu:hover > ul li:nth-child(8){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 400ms;
}
.peoplemenu:hover > ul li:nth-child(9){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 450ms;
}
.peoplemenu:hover > ul li:nth-child(10){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 500ms;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotateX(30deg) rotateY(45deg);
	}
	50%{
		transform: rotateX(10deg) rotateY(20deg);
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg);
	}
}
.peoplemenu ul .button:hover{
	background-color: rgb(65, 58, 58);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}
.button:hover{
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.introflex{
    margin-top:20px;
    display: flex; 
}
.introduction{
    width: 70%;
	height: 270px;
}
.text{
	line-height: 27px;
	text-indent: 50px;
	text-align:justify;
	margin-top:10px;
	font-weight:400;
	font-size: 20px;
}
.textlink{
	font-size:20;
    font-weight: bold; 
	text-decoration: underline; 
	color: black;
}
.textlink:hover{
	text-decoration: underline;
}
.intro{
	margin-left:20px;
}
.sidebar{
	position: relative;
	width: 30%;
	height: 270px;
	margin: 0px 20px;
	border: 2px solid rgb(119,119,119);
	background-image:url("../img/sidebarbg.png");
	background-position:  center center;
	background-size: 250px 231px;
	background-repeat: no-repeat;
}
.sidebar::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color:white;
	opacity: 0.8;
}
.sidebar ul{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width:250px;
	height:239px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.sidebar ul li{
	position:relative;
	transition: all 0.5s ease;
}
.sidebar ul li:before{
	content:'';
	position: absolute;
	top: 22px;
	left: -12px;
	width: 16px;
	height: 16px;
	background-image: url("../img/arrow.png");
	background-size: 100%;
} 
.sidebar ul li:hover{
	padding-left: 15px;
}
.sidebar ul li.mpli:hover{
	padding-left:13px;
}
.sidebar h2{
	position: relative;
	z-index: 1;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.hlink{
	text-align: center;
	padding: 20px 10px;
	display: inline-block; 
	font-size: 20px;
	color: black;
}
.mpl{
	padding: 20px 0px 20px 10px;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin: 40px 0px 60px 0px;
}
.person{
height: 850px;
margin: 30px 0;
}
.persontextblock{
	padding-left:13px;
	height: 430px;
  }
.person h3{
	margin: 17px 0px 30px 13px;
	font-size:20px;
	font-weight:bold;
}
.personpic{
	width: 270px;
	height: 320px;
	float:left;
}
.personpic img{
	width:240px;
	height:250px;
}
.personpic h3{
	font-size:18px;
	font-weight:bold;
	margin: 15px 0px 0px 0px;
}
.persondescrip{
	margin: 0px 20px 0px 0px;
}
.otherpics{
	display: flex;
	height: 280px;
	justify-content: space-between;
	margin: 30px 20px 30px 15px;
}
.otherpics img{
	width: 300px;
	height: 100%;
}
.pageswitchblock{
	display: flex;
	margin: 50px 0;
	position: relative;
	height: 50px;
}
.commentscontainer a{
	color: #656c7a;
}
.footer{
	display:flex;
	position:relative;
	margin-top: 30px;
	height:200px;
	background: url("https://cdn.prod.www.spiegel.de/images/4317195a-0001-0004-0000-000001195323_w1528_r1.5625_fpx43.52_fpy50.jpg") no-repeat center center / cover;
}
.footer p{
	display: flex;
	position: relative;
	z-index:10;
	color:white
}
.footer::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.8;
}
.footertitle{
	position: relative;
    top: 18px;
    left: 120px;
	padding: 55px 65px;
    z-index: 1;
    width: 369px;
    height: 170px;
    border-right: 1px solid rgb(119,119,119);
}
.footertitle img{
	width: 240px;
	height: 60px;
}
.footersm{
	color:white;
	position: relative;
    top: 18px;
	left: 145px;
    z-index: 1;
    width: 369px;
    height: 170px;
}
.footersm h3{
  text-decoration: underline;
  font-size: 20px;
  margin: 0px 10px 10px 10px;
}
.footersm ol{
	margin:5px;
	font-size: 16px;
	position:relative;
	left: 20px;
	list-style:upper-roman;
}
.footersm ol li{
	position:relative;
	margin: 9px;
}
.footersm ol li a{
	margin-left:5px;
}
.footersm ol li a:hover{
   color: grey;
}