html{
	scroll-behavior: smooth;
}
body{
	font-family: "Open Sans", sans-serif;
	background-image: url('https://media.moddb.com/images/downloads/1/225/224926/imagine_by_kvacm_dd3sd3v.jpg');
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%; 
}
.container{
	width: 1000px;
	min-height: 3000px;
	margin:60px auto;
	border: 5px solid white;
	background-color: white;
}
.header{
	display: flex;
	height: 250px;
	width: 100%;
}
.pagename{
	position: relative;
	height:250px;
	width: 70%;
	/* background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */
	background: url("https://www.teahub.io/photos/full/9-98923_blade-runner-2049-hologram-girl-live-wallpaper-blade.jpg") no-repeat center center / cover;
    
}
.pagename::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.7;
}

.pagename h1{
	position: relative;
	z-index: 1;
	text-align: center;
	color: white;
	font-size: 60px;
	padding-top:96px;
}
.icon{
	height:250px;
	width: 30%;
}
.icon img{
	width:100%;
	height:100%;
}
.nav{
	top: 0;
	width:100%;
	height:64px;
	background: rgba(0, 0, 0, 0.8);
}
.navmenu{
	height:100%;
	display: flex;
	justify-content: space-evenly;
}
.button{
	text-align: center;
	width: 244px;
	padding: 24px 10px;
	display:block;
	font-size: 16px;
	transition: all 0.5s ease;
}
.filmmenu ul .button{
	font-size: 14px;
	/* background-color: rgba(0, 0, 0, 0.8); */
	background-color: black;
}
.filmmenu ul{ 
	position:relative;
	display: none;
}
.filmmenu:hover > ul{
	display: block;
	z-index: 2;
}
.filmmenu ul .button:hover{
	/* background-color: rgba(0, 0, 0, 0.75); */
	background-color: rgb(65, 58, 58);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.button:hover{
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.base_dc{
	margin-top: 20px;
}
.wibflex{
	display: flex;
}
.what_is_base{
	width: 70%;
	height: 270px;
	/* border: 2px solid blue; */
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
}
.text{
	line-height: 27px;
	text-indent: 50px;
	text-align:justify;
	margin-top:10px;
	font-weight:400;
	font-size: 20px;
}
.wib{
	margin-left:20px;
}
.sidebar{
	position: relative;
	width: 30%;
	height: 270px;
	margin-left: 20px;
	border: 2px solid rgb(119,119,119);
	background-image:url("../img/sidebarbg.png");
	background-position:  center center;
	background-size: 250px 231px;
	background-repeat: no-repeat;
}
.sidebar::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color:white;
	opacity: 0.8;
}

/*----------------------------------------------------*/

.sidebar ul{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width:250px;
	height:239px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.sidebar ul li{
	position:relative;
	transition: all 0.5s ease;
}
.sidebar ul li:before{
	content:'';
	position: absolute;
	top: 22px;
	left: -12px;
	width: 16px;
	height: 16px;
	background-image: url("../img/arrow.png");
	background-size: 100%;
    /* background-color: darkblue; */
} 
.sidebar ul li:hover{
	padding-left: 30px;
}
.sidebar h2{
	position: relative;
	z-index: 1;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.hlink{
	text-align: center;
	padding: 20px 10px;
	display: inline-block; 
	font-size: 20px;
	color: black;
}
.basevideo{
	width:560px;
	height: 315px;
	margin: 20px auto;
}
.how_to_become_based h2{
	text-align: center;
    margin: 40px;
	font-weight: bold;
	font-size: 30px;
}
.htbb_wrapper{
	/* border: 2px solid green; */
	height:500px;
}
.htbb_wrapper img{
	margin: 0px 20px;
	width: 300px;
	height:300px;
	float:right;
	box-shadow: 7px 7px 10px black;
}
.basedescrip{
	margin: 0 20px;
}
.basedescrip span{
   color:rgb(196, 0, 0);
   font-weight: bold;
   font-style: italic;
}
.film{
	height:500px;
	margin: 30px 0;
	/* border: 2px solid green; */
}
.film h2{
	/* border: 2px solid darkblue; */
	margin: 17px 0px 30px 13px;
	font-size:20px;
	font-weight:bold;
}
.filmtextblock{
  height: 430px;
  /* border:2px solid orange; */
}
.posterblock{
	width: 262px;
	height: 346px;
	float:left;
	margin-left:13px;
	/* border: 2px solid red; */
}
.posterblock img{
	width:215px;
	height:290px;
}
.posterblock h3{
	font-size:18px;
	font-weight:bold;
	margin-top: 15px;
}
.filmdescrip{
	margin: 0px 20px 0px 0px;
}




