html{
	scroll-behavior: smooth;
}
body{
	font-family: "Open Sans", sans-serif;
	background-image: url('https://media.moddb.com/images/downloads/1/225/224926/imagine_by_kvacm_dd3sd3v.jpg');
	background-position-x: center;
	background-attachment: fixed;
	height: 3000px;
}
.container{
	width: 1000px;
	min-height: 1500px;
	margin:60px auto;
	border: 5px solid white;
	background-color: white;
}
.header{
	display: flex;
	height: 250px;
	width: 100%;
}
.pagename{
	position: relative;
	height:250px;
	width: 70%;
	/* background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */
	background: url("https://www.teahub.io/photos/full/9-98923_blade-runner-2049-hologram-girl-live-wallpaper-blade.jpg") no-repeat center center / cover;
    
}
.pagename::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.7;
}

.pagename h1{
	position: relative;
	z-index: 1;
	text-align: center;
	color: white;
	font-size: 60px;
	padding-top:96px;
}
.icon{
	height:250px;
	width: 30%;
}
.icon img{
	width:100%;
	height:100%;
}
.nav{
	top: 0;
	width:100%;
	height:50px;
	background: rgba(0, 0, 0, 0.8);
}
.navmenu{
	height:100%;
	display: flex;
	justify-content: space-evenly;
}
.button{
	text-align: center;
	width: 200px;
	padding: 18px 10px;
	display:block;
	font-size:14px;
	transition: all 0.5s ease;
}
.filmmenu ul .button{
	font-size: 12px;
	/* background-color: rgba(0, 0, 0, 0.8); */
	background-color: black;
}
.filmmenu ul{ 
	position:relative;
	display: none;
}
.filmmenu:hover > ul{
	display: block;
	z-index: 2;
}
.filmmenu ul .button:hover{
	/* background-color: rgba(0, 0, 0, 0.75); */
	background-color: rgb(65, 58, 58);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.button:hover{
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}
.what_is_base{
	margin-top:10px;
	width: 100%;
	height:300px;
	border: 2px solid blue;
}
.sidebar{
	float: right;
	width: 30%;
	height: 300px;
	border: 2px solid red;
}
.what_is_base h2{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
}
.what_is_base p{
	line-height: 27px;
	text-indent: 50px;
	text-align:justify;
	margin-top:10px;
	font-weight:400;
	font-size: 20px;
}
.sidebar h2{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

