.header__pagename{
	background: url("../img/3rdpagetitleimg.png") no-repeat center center / cover;
}
.previous-page-button-block{
    margin: 0;
	display:inline-flex;
	position: relative;
	top:0;
	height: 50px;
	width: 385px;
}
.previous-page-button-block .fa-arrow-left-long{
	font-size:25px;
	height: 25px;
	position: relative;
	top: 9px;
	left: 0px;
}
.previous-page-button-block__link{
	text-align: center;
	padding: 13px 10px;
	width:360px;
	display: block; 
	font-size: 18px;
	color: black;
}